body {
  background-color: #202020;
}
nav{
  display: flex;
  

  /* background-color: pink; */
}
.menu {
  padding: 5px 15px 5px 15px;
}
.youtube-link {
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  vertical-align: 10px;
  text-decoration: none;
}
.india {
  font-size: 11px;
  color: grey;
  vertical-align: 15px;
}
#search{
	/* justify-content: center; */
	background-color: #121212;
	width: 27vw;
	color: white;
	padding: 0.5em;
}
.search-bar{
	display: flex;
}